@using Schaad.Accounting.Common.Extensions;
@model Schaad.Accounting.Models.Transaction
@{
    var lastCreditCardStatement = ViewBag.LastCreditCardStatement != null ? System.IO.Path.GetFileName(ViewBag.LastCreditCardStatement) : null;
    Layout = "";
}

<div class="row">
    <div class="col-lg-2">Totalbetrag:</div>
    <div class="col-lg-2" id="totalBalance">@Math.Abs(Model.Value).ToFormattedString()</div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">Restbetrag:</div>
    <div class="col-lg-3" id="restBalance">@Math.Abs(Model.Value).ToFormattedString()</div>
    <div class="col-lg-2">
        @if (string.IsNullOrEmpty(lastCreditCardStatement))
        {
            <a id="addSplitPredefinition" data-id="@Model.BankTransactionId" title="Splitt-Vordefinition laden"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
        }
        else
        {
            <a id="importCreditCardStatement" data-id="@Model.BankTransactionId" title="letzte Credit Card Abrechnung laden: @lastCreditCardStatement"><span class="glyphicon glyphicon-subtitles" aria-hidden="true"></span></a>
        }
        <a id="addEmptyTransaction" data-id="@Model.BankTransactionId" title="Neue Transaktion hinzufügen"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
    </div>
</div>


<div class="row">
    <div class="col-lg-2">Datum</div>
    <div class="col-lg-2">Betrag</div>
    <div class="col-lg-4">Text</div>
    <div class="col-lg-4">Konto</div>
</div>

<form id="formSplit" action="/Home/SaveSplitTransaction" method="POST" autocomplete="off">
    <input id="saveSplit" type="submit" value="Speichern" class="btn btn-default" disabled/>
</form>
